* {
  box-sizing: border-box;
}


body {
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;  
  margin:0;
  font-size: 1.0em;
}

/* ============= style-font ============== */ 

h1, h2, h3, h4, h5, h6, a, p {
  margin:0;
  padding:0;
}


/* headers */


