html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6, p {
  margin:0;
  padding: 0;
}

p {
  font-size: 1.8rem;
  margin-bottom:2rem;
}

.input-styling, .existingTask {
  display: grid;
  width:40rem;
  grid-template-columns: 60% 30% 7rem;
  column-gap: 0.5rem;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.input-styling > * {
  padding:0.7rem;
}


.existingTask > * {
  padding:0.2rem 0.4rem;
  height:3.5rem;
  margin-bottom:2rem;
  align-content: center;
}

.delete {
  color:white;
  background-color: brown;
  border:none;
  height:auto;
}

.addButt {
  color:white;
  background-color: green;
  border: none;
}