html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6, p {
  margin:0;
  padding: 0;
}

p {
  padding:0.5rem;
  font-size: 2rem;
}

input, button {
  padding:0.6rem;
  margin:0.2rem;
}

.existingTask {
  width:40rem;
  border:1px solid darkblue;
}


button {
  width:8rem;
  border:1px solid darkblue;
}

p {
  border:1px solid darkblue;
  width:17rem;
}
